body {
    text-align: center;
    background-color: bisque;
}
h1 {
    color: black;
    text-align: center;
}

.black {
    background-color: black;
    color: white;
}

.white {
    background-color: white;
}

.cell {

    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-style: inset;
}

img {
    height: 75px;
    width: 75px;
}

.reset {
    margin-top: 50px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.display {
    height: 200px;
    width: 300px;
    background-color: darkgray;
    text-align: center;
    box-shadow: 10px 10px 5px black;
}